<h1>DefaultItems#index</h1>
<%= link_to 'Back', :back %>

<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Day</th>
          <th>Description</th>
          <th>Changes</th>
          <th>Debit</th>
          <th>Credit</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% @default_items.each do |x| %>
          <tr>
            <td><%= x.day %></td>
            <td><%= x.name %></td>
            <td>
              <% if x.default_changes.empty? %>
                <%= link_to("View: 0", x, class: 'btn btn-xs btn-default') %>
              <% else %>
                <%= link_to("View: #{x.default_changes.count}", x, class: 'btn btn-xs btn-info') %>
              <% end -%>
            </td>
            <td><%= x.debit %></td>
            <td><%= x.credit %></td>
            <td><%= link_to('Edit', x, class: 'btn btn-xs btn-default') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
