
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>Description</th>
      <th>Rank</th>
      <th>ID</th>
      <th>Debit</th>
      <th>Credit</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>


      <%= content_tag :tr, id: entry.id, class: ("warning" unless entry.cleared), 
                      data: {rank: entry.rank} do -%>
      
        <td ><%= check_box_tag 'entry_ids[]', entry.id %></td>
        <td><%= entry.date %></td>
        <td><%= entry.name %></td>
        <td><%= entry.rank %></td>
        <td><%= entry.id %></td>
        <td><%= hide_if_nil(entry.debit) %></td>
        <td><%= hide_if_nil(entry.credit) %></td>
        <td class="balance-cell"><%= entry.balance %></td>
      <% end -%>
    <% end %>
    
  </tbody>
</table>