<h2>Account Log: <%= @register.name %></h2>
<h4>Available Balance = <span id='avail'><%= @available_balance %></span></h4>
<h4>Bank balance = <span id='bank'><%= @cleared_balance %></span></h4>

<div id='entryform'>
  <%= render partial: 'form', locals: {register: @register, entry: @entry} %>
</div>

<%= form_tag multiselect_register_entries_path, method: :put do %>
  <%= submit_tag 'Clear' %>
  <%= submit_tag 'Unclear', name: 'unclear_button' %>
  <%= submit_tag 'Delete', name: 'delete_button', data: { confirm: 'Are you sure?'} %>
  <div id="entrytable">
    <%= render partial: 'table' %>
  </div>
<% end %>

<h5>Starting balance = <%= @register.startbalance %></h5>