<h3><%= @this_date.strftime("%B %Y") %></h3>
<%= link_to "Prev", budgets_path(month: @prev_date.month, year: @prev_date.year) %>
<%= link_to "Next", budgets_path(month: @next_date.month, year: @next_date.year) %>


<div class="row">
  <div class="col-md-10">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Receivable</th>
          <th>Payable</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        <% @default_items.each do |item| %>
          <tr>
            <td>
              <% if (Date.valid_date?(@this_year, @this_month, item.day)) %>
                <%= Date.new(@this_year, @this_month, item.day) %>
              <% else %>
                <%= Date.civil(@this_year, @this_month, -1) %>
              <% end %>
            </td>
            <td><%= item.name %></td>
            <td><%= hide_if_nil(item.credit) %></td>
            <td><%= hide_if_nil(item.debit) %></td>
            <td>0.00</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<h3><%= @next_date.strftime("%B %Y") %></h3>
<div class="row">
  <div class="col-md-10">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Receivable</th>
          <th>Payable</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        <% @default_items.each do |item| %>
          <tr>
            <td>
              <% if (Date.valid_date?(@following_year, @following_month, item.day)) %>
                <%= Date.new(@following_year, @following_month, item.day) %>
              <% else %>
                <%= Date.civil(@following_year, @following_month, -1) %>
              <% end %>
            </td>
            <td><%= item.name %></td>
            <td><%= hide_if_nil(item.credit) %></td>
            <td><%= hide_if_nil(item.debit) %></td>
            <td>0.00</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>